## Dataset Description
---

data dicitionary, or description of the variables:

- <b>state</b> : the state code for this user (String)
- <b>account_length</b> : the age of this account - consider it into months - (int)
- <b>area_code</b> : the code for area for this account (int)
- <b>phone_number</b> : the account number for this user (string)
- <b>intl_plan</b> : if user has intl plan or not (string)
- <b>voice_mail_plan</b> : if user has voice mail plan or not (string)
- <b>number_vmail_messages</b> : count of voice mail messages sent by this user (int)
- <b>total_day_minutes</b> : the total minutes for day (float)
- <b>total_day_calls</b> : count of calls made at day (int)
- <b>total_day_charge</b> : cost of all minuts and calls during day (float)
- <b>total_eve_minutes</b> : the total minutes for eve (float)
- <b>total_eve_calls</b> :  count of calls made at eve (int)
- <b>total_eve_charge</b> : cost of all minuts and calls during eve (float)
- <b>total_night_minutes</b> : the total minutes for night (float)
- <b>total_night_calls</b> : count of calls made at night (int)
- <b>total_night_charge</b> : cost of all minuts and calls during night (float)
- <b>total_intl_minutes</b> : the total minutes for intl (float)
- <b>total_intl_calls</b> : the total calls made for intl (int)
- <b>total_intl_charge</b> : cost of all minuts and calls during intl (float)
- <b>number_customer_service_calls</b> : how many times he called customer service (int)
- <b>churned</b> : churned or not (boolean)

## Business Questions
---
- how many states we have and what is the count for users in each state?
- what is the age of the oldest account we have in our company?
- how many intl plan subscriber?
- how many voice mail subscriber?
- what is the average voice mail messages sent by who subscribed in voice mail plan <b>ONLY</b>?
- what is the average minutes for day, eve, night and intl?
- what is the average call counts for day, eve, night and intl?
- what is the average charge for day, eve, night and intl?
- what is the churn rate in our company?
- True of False for:
    - calls during day is more worthy than night?
    - charge during night is cheaper than eve?
- recommend the best time we can offer a free minutes for customers? [optional]

## Tasks
---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
%matplotlib inline

In [2]:
df = pd.read_csv('Orange_Telecom_Churn_Data.csv')
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          5000 non-null   object
 1   account_length                 5000 non-null   int64
 2   area_code                      5000 non-null   int64
 3   phone_number                   5000 non-null   object
 4   intl_plan                      5000 non-null   object
 5   voice_mail_plan                5000 non-null   object
 6   number_vmail_messages          5000 non-null   int64
 7   total_day_minutes              5000 non-null   float64
 8   total_day_calls                5000 non-null   int64
 9   total_day_charge               5000 non-null   float64
 10  total_eve_minutes              5000 non-null   float64
 11  total_eve_calls                5000 non-null   int64
 12  total_eve_charge               5000 non-null   float64
 13  total_night_minutes            5000 non-null   float64
 14  total_night_calls              5000 non-null   int64
 15  total_night_charge             5000 non-null   float64
 16  total_intl_minutes             5000 non-null   float64
 17  total_intl_calls               5000 non-null   int64
 18  total_intl_charge              5000 non-null   float64
 19  number_customer_service_calls  5000 non-null   int64
 20  churned                        5000 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 786.3+ KB

In [4]:
df.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,100.25860,436.911400,7.755200,180.288900,100.029400,30.649668,200.636560,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400
std,39.69456,42.209182,13.546393,53.894699,19.831197,9.162069,50.551309,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363
min,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.00000,408.000000,0.000000,143.700000,87.000000,24.430000,166.375000,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,100.00000,415.000000,0.000000,180.100000,100.000000,30.620000,201.000000,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,127.00000,415.000000,17.000000,216.200000,113.000000,36.750000,234.100000,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000
max,243.00000,510.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [5]:
print(f'Number of states: {df.state.nunique()}')

Number of states: 51

In [6]:
df.state.value_counts()

WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
NJ    112
UT    112
WI    106
MI    103
ME    103
MA    103
MD    102
VT    101
MT     99
RI     99
KY     99
MS     99
CT     99
KS     99
WA     98
IN     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
NV     90
OK     90
TN     89
AZ     89
DC     88
IL     88
NE     88
ND     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52
Name: state, dtype: int64

In [7]:
print(f'The oldest accoount is {df.account_length.max()} months old.')

The oldest accoount is 243 months old.

In [8]:
df.intl_plan.value_counts()

no     4527
yes     473
Name: intl_plan, dtype: int64

In [9]:
df.voice_mail_plan.value_counts()

no     3677
yes    1323
Name: voice_mail_plan, dtype: int64

In [10]:
voice_mail_rows = df[df.voice_mail_plan == "yes"]

print(f'{voice_mail_rows.number_vmail_messages.mean():.4f}')

29.3091

In [11]:
churn_rate = df.churned.value_counts(normalize=True)[True] * 100

print(f"The churn rate is {churn_rate:.2f}%")

The churn rate is 14.14%

In [12]:
print(f'Mean day charge: {df.total_day_charge.mean():.4f}')
print(f'Mean eve charge: {df.total_eve_charge.mean():.4f}')
print(f'Mean night charge: {df.total_night_charge.mean():.4f}')

Mean day charge: 30.6497
Mean eve charge: 17.0543
Mean night charge: 9.0177

So yes, Calls during day is more worthy than night, and charge during night is cheaper than eve.

In [13]:
print(df.total_day_calls.mean())
print(df.total_eve_calls.mean())
print(df.total_night_calls.mean())

100.0294
100.191
99.9192

In [14]:
print(f'Mean day minutes {df.total_day_minutes.mean():.4f}')
print(f'Mean eve minutes {df.total_eve_minutes.mean():.4f}')
print(f'Mean night minutes {df.total_night_minutes.mean():.4f}')

Mean day minutes 180.2889
Mean eve minutes 200.6366
Mean night minutes 200.3916

I think we can offer free minutes during night, because it's cheaper than eve, and it's not worthy as day.

### **<p style="text-align: center;"> Thank you for reading. </p>**